.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* =======shared style=======  */

.text-centre {
  text-align: center;
}

.secondary-bg {
  background-color: #fff8f3;
}

.section-title {
  font-size: 35px;
  font-weight: bold;
  color: black;
}
.section-description {
  font-size: 18px;
  color: #757575;
}
.text-primary {
  color: #fd6e0a;
}

.dark-2 {
  color: #474747;
}

.btn-primary {
  background-color: #fd6e0a;
  font-weight: bold;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  /* transition: all 0.3s ease-in-out; */
}

/* ======shared style end===== */

.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* Nav Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
nav ul {
  display: flex;
  align-items: center;
  /* gap: ; */
}
nav ul li {
  list-style: none;
  margin-right: 51px;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

/* =====banner styles===== */

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}

.banner-greetings {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0px;
}

.banner-title {
  font-size: 85px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-description {
  width: 585px;
  height: 60px;
  margin-bottom: 30px;
}

.banner-profile-picture {
  width: 580px;
}

.btn-primary.cv {
  width: 200px;
  height: 64px;
  margin-right: 30px;
  margin-top: 0px;
  color: white;
  padding: 18px 20px 18px 20px;
}

.btn-primary.cv:hover {
  background-color: #fff8f3;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}

.btn-primary.contact {
  width: 160px;
  height: 64px;
  margin-top: 0px;
  color: white;
  padding: 18px 20px 18px 20px;
}

.btn-primary.contact:hover {
  background-color: #fff8f3;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}

/* =================== */

/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
  margin-bottom: 130px;
}

/* main styles end  */
/* about section */
.about {
  border-radius: 10px;
  padding: 130px 157px 130px 156px;
  text-align: center;
  margin-top: 130px;
}

.about-items {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.item-description {
  font-weight: 600;
}

/* skills section */

.skills-container {
  display: flex;
  gap: 24px;
}

.skill {
  padding: 30px;
  border: radius 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.6);
  height: 377px;
  width: 267px;
  margin-top: 50px;
}
.section-description {
  width: 909px;
}

.resume-container {
  display: flex;
  gap: 24px;
}

.experience-description,
.experience-sub-title {
  color: #757575;
  margin-bottom: 10px;
  margin-top: 10px;
}

.experience-sub-title {
  font-size: 20px;
  font-weight: 600;
}
.resume-column-title {
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 113px;
}

.section-title {
  /* text-align: center; */
  /* margin-bottom: 113px; */
  margin: 0;
}

.resume hr {
  margin: 30px 5px;
}

.resume-download-cv {
  text-align: center;
  padding: 19px 20px 19px 20px;
  margin-top: 50px;
}

/* Footer styles */
footer {
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}
.footer-column {
  width: 50%;
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
  height: 64px;
  border-radius: 5px;
  background-color: white;
  color: black;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}
